/*
	File: project.css;
	Author: Cathy Li, Melanie Klock;
	Date created: 12 Mar 2019;
	Date modified: 10 Apr 2019;
*/

body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: small;
	text-align: center;
	background-color: #aeb996;
	background-image: url("./images/background.jpg")
}

.container {
	padding:0;
	line-height: 150%;
	background-color: #fff;
}

.nav {
	margin:0;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f4edcf;
}

.nav-item {
	color: #879e54;
	text-transform: uppercase;
	text-decoration: none;	
	letter-spacing: 4px;
	transition: .5s ease;
}

.nav-item:hover {
	color: #a8bc7a;
}

.active {
	font-weight: bold;
}

#topimg {
	display: block;
	margin: 10px auto;
	width: 400px;
}

#content {
	margin-top: 30px;
	padding: 10px 50px;
	line-height: 200%;
	color: #616161;
}

h2 {
	font-size: 10pt;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	color: gray;
}

#socmed {
	margin: 20px 0;
}

#socmed img {
	display: inline-block;
	margin:5px;
	max-width: 200px;
	transition: .5s ease;
}

#socmed img:hover {
	opacity: 0.3;
}

hr {
	border-top: 1px solid #e0e0e0;
	margin-left: 50px;
	margin-right: 50px;
}

#footer {
	padding: 1.5em;
	font-size: 9pt;
	color: gray;
	line-height: 200%;
	letter-spacing: 1px;
}

#footer b {
	color: #879e54;
	text-transform: uppercase;
}

#signature {
	float:left;
	font-size: 8pt;
	color: gray;
	margin:0;
	padding-left:5px;
}