body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: small;
	background-color: #aeb996;
	background-image: url("background.jpg")
}

#container {
	width: 80%;
	margin: 0 auto;
	line-height: 150%;
	background-color: #fff;
}

#top {
	margin-bottom: 20px;
}

#top img {
	display: block;
	margin: 0 auto;
	max-width: 400px;
}

#navBar {
	text-align: center;
	position: relative;
	overflow: hidden;
	width: 98%;
	height: 40px;
	margin-bottom: 20px;
	padding: 20px 10px 0 10px;
	background-color: #f4edcf;
}

#navBar ul {
	list-style-type: none;
	margin: 0px;
	padding-left: 1%;
	width: 100%;
	right: 0px;
	overflow: hidden;
}

#navBar ul li {
	float: left;
	width: 19.5%;
}

#navBar a {
	color: #879e54;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 2px;
}

#navBar a:hover {
	color: #a8bc7a;
}

#content {
	text-align: center;
	margin: 10px 250px 20px 0;
	border-right: 1px solid #e0e0e0;
	padding: 10px 30px;
	max-width: 75em;
	height:50em;
	line-height: 200%;
}

#content h2 {
	text-align:center;
}

#rightnav {
	float: right;
	width: 160px;
	margin: 0;
	padding: 1em;
	text-align: center;
}

#footer {
	text-align: center;
	clear: both;
	margin: 0 20px;
	padding: 1.5em;
	border-top: 1px solid #e0e0e0;
}

#contact {
	position:relative;
	right:60px;
}

#hours {
	position: relative;
	bottom:10px;
	float: left;
}

#connect {
	float:right;
	margin: 0;
	padding: 1em;
	position: relative;
	bottom:50px;
}

#footer a:link {
	color: #333;
}

#signature {
	float:left;
}

#date { 
	float:right;
	position:relative;
	left:250px;
}

#leftnav p, #rightnav p {
	margin: 0 0 1em 0;
}

#content h2 {
	margin: 0 0 .5em 0;
}

